@import "tailwindcss";

@theme {
	/* Colors */
	--color-primary: oklch(0.696 0.17 162.48);
	--color-primary-dark: oklch(0.508 0.118 165.612);
	--color-lupa-dark: #080a09;
	--color-lupa-dark-secondary: #131615;
	--color-lupa-gray: #f7f7f5;
    --color-lupa-text-gray: #666666;

	--font-body: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-display: var(--font-body);
}

@layer base {
    body {
        font-family: var(--font-body);
        @apply text-gray-900 bg-white antialiased;
    }
}

.container-custom {
    @apply max-w-[1200px] mx-auto px-4 sm:px-6 lg:px-8;
}
